html .bottom, html .completed-challenge-icon, html .dna-input-group-prefix {
    display: none;
}

html .bg1_webp,html .bg2_webp,html .bg3_webp,html .bg4_webp,html .bg5_webp,html .bg6_webp,html .bg7_webp {
    background-image: none;
}

html .splash_container {
    text-align: right;
    float: right;
}

html .dna-form h1, html .dna-form h2 {
    display: none;
}


/* V4 */
html .completed-challenge {
    background: #0001; 
    border-radius: 15px;
    text-align: center;
    /*border-bottom: var(--mooie-bg-color-hover) 1px solid;*/
}

html .completed-challenge-label, html .input-drop-down-no-results, html .completed-challenge a {
    color: var(--mooie-text-color);
}

/* V2 */
html .dna-input-group {
    background: #0001; 
    border-radius: 15px;
    text-align: center;
    border: none;
    color: var(--mooie-text-color);
}

html .dna-btn.dna-btn-primary {
    background-color: #0001;
    color: var(--mooie-text-color);
    border: black 2px solid;
}

html .dna-btn.dna-btn-primary:hover {
    background-color: #0003;
}

html ::placeholder {
    text-align: center;
}

html .dna-input {
    text-align: center;
}


html .input-drop-down-list {
    background: var(--mooie-bg-color-mid); 
    border: none; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: none;
}

html .input-drop-down-list-item {
    color: var(--mooie-text-color);
}

html .input-drop-down-list-item.selected {
    background-color: var(--mooie-bg-color-hover);
}

html .input-drop-down-list-item:hover {
    background-color: var(--mooie-bg-color-hover);
}

html .dna-btn-primary {
    border-radius: 15px;
    background-color: #0E4772;
}

html .dna-btn-primary:hover {
    background: #0065A0;
}

html .dna-btn-primary:active {
    background: #0065A0;
}

::selection {
    background: #0003;
}

html .dna-form-error {
    color: #d83a3f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--mooie-text-color) ;
    background-color: var(--mooie-bg-color-mid) !important;
    transition: background-color ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #0003 !important;
}



/* Make div full width to center */
html div.podium_container {
    width: 100% !important;
}

html div.podium_container main.podium {
    background-color: var(--mooie-bg-color);
    border: none;
}

html .splash-container.bg_forgot_password_webp {
    display: none !important;
}


/*/ Loading text */

html div.app-container > div.challenge-container > div.podium_container > div.podium > div.loading-message {
    color: var(--mooie-text-color);
}

/*/ Eye icon color */

html div.app-container > div > div.podium_container > div > form > div.dna-form-field > div > dna-button > dna-icon {
    color: var(--background-1);
}

/*/ Wachtwoord vergeten color */

html #forgot_password_link {
    color: var(--background-1);
}

/*/ Nieuw wachtwoord labels */

html .dna-form-label {
    color: var(--mooie-text-color);
}


/*~ Custom text */

html #customLoginText {
    text-align: center;
    margin-top: 32px;
    color: var(--background-1);
}


/*~ Submit buttons */

html [id$="_submit"] {
    background-color: var(--primary-background);
    border-color: var(--primary-background);
}

html [id$="_submit"]:hover {
    background-color: var(--secondary-background);
    border-color: var(--secondary-background);
}