:root {
	color-scheme: light dark;
}
html body {
	background-color: var(--mooie-bg-mid) !important;
}

html div.folders-container {
    border-right: none !important;
}

html app-bericht-list.ng-star-inserted {
    padding: 0 !important;
}

html .header[_ngcontent-ng-c2242182318] {
    background-color: var(--mooie-bg-color) !important;
}

html #berichtenlijst[_ngcontent-ng-c2242182318] {
    border-top: none;
}

html app-berichten-overzicht div.container {
    border-top: none !important;
}

html div.cdk-virtual-scroll-content-wrapper {
    background-color: transparent;
    border: none;
}

html div.cdk-virtual-scroll-content-wrapper div.bericht-item.ng-star-inserted {
    background-color: var(--mooie-bg-color-mid) !important;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    opacity: .7;
}

html div.cdk-virtual-scroll-content-wrapper div.bericht-item.ng-star-inserted:hover {
    background-color: var(--mooie-bg-color-hover) !important;
}

html div.cdk-virtual-scroll-content-wrapper div.bericht-item.ng-star-inserted.niet-gelezen {
    background-color: var(--mooie-bg-color-hover) !important;
    /* border: 1px solid var(--mid-gray); */
    border-radius: 15px;
    margin-bottom: 5px;
    opacity: 1;
}

/* html div.cdk-virtual-scroll-content-wrapper:has(div.bericht-item.ng-star-inserted.niet-gelezen) div.bericht-item.ng-star-inserted {
    opacity: .7;
}

html div.cdk-virtual-scroll-content-wrapper:has(div.bericht-item.ng-star-inserted.niet-gelezen) div.bericht-item.ng-star-inserted.niet-gelezen {
    opacity: 1;
} */


html .cdk-drag.ng-star-inserted span.naam {
    color: var(--mooie-text-color) !important;
    font-size: 12px !important;
    order: 2;
    font-weight: normal;
}

html .cdk-drag.ng-star-inserted span.onderwerp {
    color: var(--mooie-text-color) !important;
    font-size: 14px !important;
    order: 1;
    font-weight: bold;
}

html .cdk-drag.ng-star-inserted span.datum {
    color: var(--mid-gray) !important;
    font-size: 12px !important;
    font-weight: lighter;
}

html dna-icon.paperclip.ng-star-inserted {
    color: var(--mooie-text-color) !important;
    right: 0;
}

html div.folders-container div.nieuw-bericht-container {
    background-color: var(--mooie-bg-color);
}

html dna-tree#mappenlijst {
    background-color: var(--mooie-bg-color);
}

html dna-tree#mappenlijst dna-tree-node.dna-tree-node {
    background-color: var(--mooie-bg-color);
}

html dna-tree#mappenlijst .dna-tree-node-wrapper {
    background-color: var(--mooie-bg-color);
    border-radius: 5px;
}

html dna-tree#mappenlijst .dna-tree-node-wrapper:hover {
    background-color: var(--mooie-bg-color-hover);
}

html dna-tree#mappenlijst .dna-tree-node-wrapper a.folderName-container {
    color: var(--mooie-text-color);
}


html dna-tree#mappenlijst .dna-tree-node-wrapper.dna-tree-node-selected {
    background-color: var(--mooie-bg-color-mid);
}

html app-bericht-details.ng-star-inserted {
    background-color: var(--mooie-bg-color);
}

html object[_ngcontent-ng-c2623919038] {
    display: none;
}

html app-bericht-list[_ngcontent-ng-c787541647] {
    border: none;
}

html div.no-selection-container.ng-star-inserted {
    color: var(--mooie-text-color) !important;
}

html app-bericht-details.ng-star-inserted {
    color: var(--mooie-text-color) !important;
}

html app-bericht-details.ng-star-inserted h2 {
    color: var(--mooie-text-color) !important;
}

html app-bericht-details.ng-star-inserted a {
    color: var(--background-1) !important;
}

html app-bericht-details.ng-star-inserted .value * {
    color: var(--mooie-text-color) !important;
}


html .dna-input {
    background: var(--mooie-bg-color) !important;
    color: var(--mooie-text-color) !important;
}

html label {
    color: var(--mooie-text-color) !important;
}

html #cdk-overlay-0 {
    background: var(--mooie-bg-color-mid) !important;
    color: var(--mooie-text-color) !important;
}

html .dna-autocomplete-panel {
    background: var(--mooie-bg-color-mid) !important;
}

html dna-avatar {
    color: var(--mooie-text-color);
}

html app-people-select-option:hover {
    background: var(--mooie-bg-color-hover) !important;
}

html .dna-option-group-label {
    border-color: var(--mooie-bg-color-hover);
}

html dna-editor[_ngcontent-ng-c3506137590] {
    background: var(--mooie-bg-color);
    color: var(--mooie-text-color) !important;
}

html button.dna-btn.dna-btn-icon.dna-tool-bar-button.ng-star-inserted {
    color: var(--mooie-text-color) !important;
}

html button.dna-btn.dna-btn-icon.dna-tool-bar-button.ng-star-inserted:hover {
    background: var(--mooie-bg-color-hover) !important;
}

html dna-button[_ngcontent-ng-c3506137590]:hover {
    background: var(--mooie-bg-color-hover);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--mooie-bg-color-mid);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-background);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-background);
}

html dna-search-input,
html dna-search-input input {
    color: var(--mooie-text-color) !important;
    --color: var(--mooie-text-color);
}

html body > app-root > app-berichten-overzicht > div.container > app-bericht-list {
    border: none;
}

html body > app-root > app-berichten-overzicht > div.container > app-bericht-list > div {
    background-color: var(--mooie-bg-color) !important;
}

html body > app-root > app-berichten-overzicht > div.container > app-bericht-list > cdk-virtual-scroll-viewport {
    border: none !important;
}



/* html dna-search-input #dna-control-0 {
    color: var(--mooie-text-color) !important;   
} */



/*~ Niueuw Bericht */

html label[for^="dna-checkbox-"]::before {
    background-color: var(--mooie-bg-color);
    border-color: var(--mooie-text-color);
}

html label[for="select-all-input"]::before {
    background-color: var(--mooie-bg-color);
    border-color: var(--mooie-text-color);
}


html dna-editor[id^="dna-editor-"] {
    background-color: var(--mooie-bg-color);
    color: var(--mooie-text-color);
    border: 1px solid var(--mid-gray);
}

html dna-editor[id^="dna-editor-"] .dna-tool-bar {
    border-color: var(--mid-gray);
}

html app-root > app-nieuw-bericht > form > div > div.new-message-left > div > div.input-fields > div > dna-overlay-trigger:nth-child(1) > dna-button:hover,
html app-root > app-nieuw-bericht > form > div > div.header > dna-button-bar > dna-button:hover {
    background-color: var(--mooie-bg-color-hover);
}




html dna-overlay-container > dna-overlay > dna-dialog,
html dna-overlay-container > dna-overlay > dna-dialog::before {
    background-color: var(--mooie-bg-color-mid);
}

html app-people-multi-select-dialog > dna-dialog-title {
    color: var(--mooie-text-color);
}

html #dna-control-3 {
    color: var(--mooie-text-color) !important;
}

html app-people-multi-select-dialog > div > dna-table > dna-header-row, 
html app-people-multi-select-dialog > div > dna-table > dna-header-row > .dna-header-cell,
html app-people-multi-select-dialog > div > dna-table > dna-row, 
html app-people-multi-select-dialog > div > dna-table > dna-row > .dna-cell {
    
    background: var(--mooie-bg-color-mid);
    color: var(--mooie-text-color);
    border-color: var(--mid-gray) !important;
}

html app-people-multi-select-dialog > div > dna-table > dna-row:hover .dna-cell {
    background: var(--mooie-bg-color-hover) !important;
}

html app-people-multi-select-dialog > div > div.tag-list-container.ng-star-inserted > span {
    color: var(--mooie-text-color);
}



html dna-overlay-container > dna-overlay > dna-snack-bar-overlay {
    background-color: var(--mooie-bg-color-mid);
    color: var(--mooie-text-color);
}

html .empty-message {
    color: var(--mooie-text-color);
}

html .dna-tag-list-wrapper {
    background-color: var(--mooie-bg-color);
}

html .dna-tag-list-wrapper .dna-tag {
    background-color: var(--mooie-bg-color-hover);
    color: var(--mooie-text-color);
}

html .dna-tag-list-wrapper .dna-tag:hover {
    background-color: var(--background-1);
}



/*~ map maken */

html dna-overlay-container > dna-overlay > dna-dialog > app-add-folder-dialog > dna-dialog-title {
    color: var(--mooie-text-color);
}


/*~ Popup */

html dna-overlay-container > dna-overlay > dna-menu {
    border: none;
    background: var(--mooie-bg-color);
}


html dna-overlay-container > dna-overlay > dna-menu > dna-menu-item {
    background: var(--mooie-bg-color);
    color: var(--mooie-text-color);
    --disabled: opacity(.35);
}

html dna-overlay-container > dna-overlay > dna-menu > dna-menu-item:hover {
    background: var(--mooie-bg-color-hover);
    color: var(--mooie-text-color);
    filter: none;
}

/*/ Backdrop */

html .dna-backdrop {
    background-color: color-mix(in srgb, var(--mooie-bg-color-mid) 35%, transparent);
}

/* verwijderen */

body > dna-overlay-container > dna-overlay > dna-dialog > app-delete-folder-dialog * {
    color: var(--mooie-text-color);
}


/*~ Folders container */

html app-root > app-berichten-overzicht > div.container > div.folders-container {
    min-width: 20%;
}

html app-root > app-berichten-overzicht > div.container > app-bericht-list {
    min-width: 25%;
}



/* pagina verlaten bij berichten tekst */

body > dna-overlay-container > dna-overlay > dna-dialog > app-dirty-dialog > * {
    color: var(--mooie-text-color);
}

/* Bijlage upload preview */

html .dna-form-field-group .dna-upload-previews {
    background-color: var(--mooie-bg-color);
    border: 1px dashed var(--mid-gray);
}

html .dna-form-field-group .dna-upload-file {
    background-color: var(--mooie-bg-color);
    border-radius: 4px;
    border: 1px solid var(--mid-gray);
    color: var(--mooie-text-color);
}

html .dna-form-field-group .dna-upload-file .dna-file-preview-description {
    color: var(--mid-gray);
}

html .dna-form-field-group .dna-upload-file .dna-btn-icon {
    color: var(--mid-gray);
}

html .dna-form-field-group .dna-drop-zone {
    background-color: var(--mooie-bg-color);
    border: 1px dashed var(--mid-gray);
    color: var(--mid-gray);
}
