* {
  margin: 0;
  padding: 0;
}

body {
  /* Style */

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mooie-bg-color-mid);
  width: 600px;
  height: 350px;
}

/*? Scroll bar */

html ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
  
html ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #0002;
}
   
html ::-webkit-scrollbar-thumb {
  background: var(--primary-background); 
  border-radius: 5px;
}
  
html ::-webkit-scrollbar-thumb:hover {
  background: var(--primary-background); 
}

.comment {
  color: var(--mid-gray);
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--mooie-bg-color-mid);
}

#main h1 {
  color: var(--mooie-text-color);
  margin: 8px 16px;
}

#main hr {
  border: none;
  border-top: 1px solid var(--mid-gray);
  margin: 0px 16px ;
}


/*! New page */

#sidebar {
  margin: 16px;
  width: 48px;
  height: calc(100% - 32px);
  float: left;
}

#sidebar .sidebar-button {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: var(--mooie-bg-color-hover);
  margin-bottom: 16px;
  opacity: .35;
  transition: opacity ease .5s, background-color ease .25s;
}

#sidebar .sidebar-button:hover {
  opacity: .7;
  transition: opacity ease .5s, background-color ease .25s;
}

#sidebar .sidebar-button.selected {
  opacity: 1;
  transition: opacity ease .5s, background-color ease .25s;
}

/*/ button icons */

#sb-appearance::before {
  content: "\f1fc";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  position: relative;
  top: 12px;
  left: 12px;
  color: var(--mooie-text-color);
}

#sb-layout::before {
  content: "\f58d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  position: relative;
  top: 12px;
  left: 12px;
  color: var(--mooie-text-color);
}

#sb-login::before {
  content: "\f084";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  position: relative;
  top: 12px;
  left: 12px;
  color: var(--mooie-text-color);
}

#sb-experimental::before {
  content: "\e2ca";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  position: relative;
  top: 12px;
  left: 12px;
  color: var(--mooie-text-color);
}

#sb-update::before {
  content: "\f021";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 24px;
  position: relative;
  top: 12px;
  left: 12px;
  color: var(--mooie-text-color);
}

/*/  */


#content {
  margin: 8px;
  width: calc(100% - 96px);
  height: calc(100% - 16px);
  float: right;
  overflow: hidden;
}

#content > .c-page {
  height: 100%;
  overflow-y: auto;
}

#content > .c-page > .head {
  position: sticky;
  top: 0;
  background-color: var(--mooie-bg-color-mid);
  z-index: 9999;
  text-align: center;
}

#content > .c-page > h2 {
  color: var(--mooie-text-color);
  margin: 8px 16px;
}

#content > .c-page > label {
  display: block;
  width: calc(100% - 30px);
  margin: 24px 16px 0px 16px;
  color: var(--mooie-text-color);
  font-size: 1rem;
  user-select: none;
}

#content > div {
  padding-bottom: 20px;
}




/*~ New radio */

.radioButtons {
  height: .7ch;
  width: fit-content;
  display: inline;
  float: right;
}

.radioButtons label {
  width: 75px;
  display: inline;
  background-color: var(--mooie-bg-color-mid);
  border: 1px solid var(--mid-gray);
  margin-left: -23px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 0px;
  opacity: .35;
  transition: opacity ease .5s;
}

.radioButtons label:nth-of-type(1) {
  border-radius: 16px 0px 0px 16px;
}

.radioButtons label:nth-last-of-type(1) {
  border-radius: 0px 16px 16px 0px;
}

.radioButtons label:hover {
  opacity: .7;
  text-shadow: 0px 0px 2px var(--mid-gray);
  transition: opacity ease .5s;
}

.radioButtons input[type="radio"]:checked+label {
  opacity: 1;
  text-shadow: 0px 0px 4px var(--mid-gray);
  transition: opacity ease .5s;
}

input[type="radio"] {
  visibility: hidden;
}

/*/ Radio Icons */

label[for="dark"]::before {
  content: "\f186";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="light"]::before {
  content: "\f185";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="auto"]::before {
  content: "\f013";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="pfp-default"]::before {
  content: "\f007";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="pfp-custom"]::before {
  content: "\f03e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="pfp-hidden"]::before {
  content: "\f070";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="sw-list"]::before {
  content: "\f03a";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="sw-grid"]::before {
  content: "\f58e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="bs-visible"]::before,
label[for="z-visible"]::before,
label[for="h-visible"]::before {
  content: "\f06e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="bs-hidden"]::before,
label[for="z-hidden"]::before,
label[for="h-hidden"]::before {
  content: "\f070";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="upload"]::before {
  content: "\f574";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="t-true"]::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="t-false"]::before {
  content: "\58";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}


/*~ Toggle Switch */

.switch {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  top: -1px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  border: 1px solid var(--mid-gray);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
  opacity: .35;
  transition: opacity ease .5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: transparent;
  border: 2px solid var(--mooie-text-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:hover + .slider::before {
  box-shadow: inset 0 0 4px var(--mid-gray), 0 0 4px var(--mid-gray);
}

input:hover + .slider {
  opacity: .7;
  transition: opacity ease .5s;
}

input:checked + .slider {
  opacity: 1;
  transition: opacity ease .5s;
}

/* input:focus + .slider {
  outline: 1px solid var(--mooie-text-color);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  box-shadow: inset 0 0 8px var(--mid-gray), 0 0 8px var(--mid-gray);
}


/*~ Text input */

.textInput {
  float: right;
  background-color: var(--mooie-bg-color-mid);
  border: none;
  border-bottom: 1px solid var(--dark-gray);
  color: var(--mooie-text-color);
  width: min(50%, 250px);
}

.textInput:focus {
  border-bottom: 1px solid var(--mooie-text-color);
  outline: none;
}


/*~ Number input */

.resetInput {
  font-family: Lucida Sans Unicode;
  font-weight: 900;
  margin-right: 1ch;
  color: var(--mid-gray);
  cursor: pointer;
  user-select: none;
}

.inputContainer {
  display: inline-flex;
  align-items: center;
  float: right;
}

.inputContainer label {
  margin-left: 1ch;
  color: var(--mid-gray);
  user-select: none;
  cursor: pointer;
}

.numberInput {
  background-color: var(--mooie-bg-color-mid);
  border: none;
  border-bottom: 1px solid var(--dark-gray);
  color: var(--mooie-text-color);
  width: 4ch;
  text-align: right;
}

.numberInput:focus {
  border-bottom: 1px solid var(--mooie-text-color);
  outline: none;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*~ File input */

.fileUploadContainer {
  float: right;
}

.fileUploadContainer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.fileUploadContainer label {
  width: 75px;
  display: inline;
  background-color: var(--mooie-bg-color-mid);
  border: 1px solid var(--mid-gray);
  margin-left: -23px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 16px;
}

/*~ Color picker */
#colorsContainer {
  height: auto;
  float: right;
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  gap: 0.5rem;
}

#colorsContainer > .item {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

#colorsContainer > .item.default::before {
  content: "D";
  padding-left: 4px;
  color: #fff;
}


/*~ Update text */
#checkUpdate {
  display: block;
  width: calc(100% - 30px);
  margin: 24px 16px 0px 16px;
  color: var(--mooie-text-color);
  font-size: 1rem;
  user-select: none;
}

#updateHelp {
  display: block;
  width: calc(100% - 30px);
  margin: 24px 16px 0px 16px;
  color: var(--mooie-text-color);
  font-size: 1rem;
  user-select: none;
}

#exp-warn {
  display: block;
  width: calc(100% - 30px);
  margin: 24px 16px 0px 16px;
  color: var(--mid-gray);
  font-size: .8rem;
  user-select: none;
}
